#s1{
    height=300px;
    position: absolute;
    top: 50px;
    left: 50px;
    right: 30px;
    
}
.s1child{
    font-style: italic;
    font-weight: bold;
    font-size: 35px;
    color:white;
    background-color: black;
    border: 10px solid red;
    border-radius: 20px;
}
.s1c1{
    padding: 10px 10px 20px 10px;
    width: 450px
}
.s1c2{
    padding: 10px 10px 5px 15px;
    position:absolute;
    left: 400px;
    top: 20px;
}
.s1c3{
    line-height: 50px;
    font-size: 25px;
    width: 350px;
    position:absolute;
    right:20px;
    top: 0px;
}

#s2{
    height:450px;
    width:450px;
    border:10px solid gray;
    background-color: mediumseagreen;
    border-radius: 450px;
    position: absolute;
    top:600px;
    left:100px;
}
.s2child{
    font-size: 28px;
    font-weight: bold;
    font-style: italic;
    text-decoration-line:underline;
    position: relative;
    top: 70px;
    left: 0px;
}
.s2c1{
    position: relative;
    left:90px;
}
.s2c3{
    position: relative;
    left:90px;
}
#s3{
    font-size: 25px;
    color:tomato;
    height: 870px;
    width:400px;
    border: 10px dashed red;
    position: absolute;
    top:400px;
    left:850px;
}
.s3c1{
    font-weight: bold;
}
input[type="text"]::placeholder{
    text-align: center;
}
input[type="email"]::placeholder{
    text-align: center;
}
input[type="number"]::placeholder{
    text-align: center;
}
#s4{
  padding: 10px;
  position: absolute;
  width:500px;
  height: 60px;
  top: 1350px;
  left:500px;
  border: 10px solid red;
  background-color: black;
  color: white;
  font-size: 40px;
  border-radius: 60px;

}

.flexbox{
    color: darkblue;
    font-size: 20px;
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
    position: absolute;
    top:1520px;
}
.b{
    width:400px;
    margin:30px;
    background-color: aqua;
    border:5px solid green;
    border-radius: 30px;

}
.bp{
    font-size: 32px;
    font-weight: bold;
}
#hr{
    position: relative;
    top:1490px;
}
.body{
    position: absolute;
    top:0px;
    left:0px;
    right:0px;
    background-image: url(https://media.istockphoto.com/photos/background-brick-wall-painted-white-picture-id183387282?b=1&k=20&m=183387282&s=170667a&w=0&h=wW5V6eGGyb3WpzuL37w3j3dxS0FC-M0bWfujSCAD5eI=);
    background-size: 1800px 982px;
    border:14px groove lightgreen;
    height:2300px;
    margin:0px;
}