.s1{
    width:600px;
    margin: 0 auto;
    border:10px solid red;
    border-radius: 20px;
    color:darkred;
    font-style: italic;    
    font-weight: bold;
    font-size: 25px;
    box-shadow: 5px 5px 2px violet;
    background-color: white;
}
.s1c1{
    text-shadow: 3px 1px 2px darkred;
    
}
.s2{
    border: 10px solid darkgreen;
    position: relative;
}
.s2child{
    height:300px;
    width:300px;
    border:10px solid red;
    border-radius: 20px;
    background-color: white;
}
.s2c1{
    float: left;
    margin-bottom: 100px;
    color: navy;
    font-weight: bold;
    font-size: 25px;
    text-shadow: 2px 1px 2px navy;
    box-shadow: 5px 5px 2px violet;
}
.s2c2{
    float: right;
    margin-bottom: 100px;
    box-shadow: 5px 5px 2px violet;

}
img{
    padding: 40px 0px 40px 0px;
    max-width: 100%;
    max-height: 80%;
}
.s2c3{
    clear: both;
    font-size: 25px;
    font-weight: bold;
    color: darkblue;
    text-shadow: 2px 1px 2px navy;
    box-shadow: 5px 5px 2px violet;
}
.fh{
    font-size: 25px;
}
.sub{
    background-color: red;
    border-radius: 10px ;
}
.s2c4{
    position:absolute;
    bottom:0px;
    right:0px;
    font-weight: bold;
    color: darkblue;
    text-shadow: 2px 1px 2px navy;
    box-shadow: 5px 5px 2px violet;
}
.s3{
    width: 700px;
    margin: 0px auto;
    border: 10px solid darkmagenta;
    background-color: green;
}
.dh{
    font-size: 25px;
    font-weight: bold;
    text-align: center;
}
.s3c1{
    float: left;
    width:345px;
    background-color: blanchedalmond;
    text-align: center;
}
.s3c2{
    float: right;
    width:345px;
    background-color: blanchedalmond;
    text-align: center;
    margin-bottom: 10px;
}
.s3c3{
    text-align: center;
    clear:both;
    background-color: blanchedalmond;
    padding: 1px;
}
.ph{
    font-size: 20px;
    font-weight: bold;
    font-style: italic;
}
.fix-div{
    width: 350px;
    position:fixed;
    bottom: 100px;
    right:30vw;
    background-color: chartreuse;
    color:brown;
    font-style: italic;
    border: 5px solid red;
    border-radius: 10px;
    padding: 20px;
}
.fd1{
    float:left;
    font-weight: bold;
    font-size: 20px;
    text-align: center;
}
.fd2{
    float:right;
    font-weight: bold;
    font-size: 15px;
    text-align: center;
}
html{
    background-color: gray;
}

